@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:7%">
    <div class="col-md-12">       
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 style="text-align:center">Bem vindo ao Anota aí!</h4><br>
            <h5 style="text-align:center">
                Nunca foi tão rapido e facil realizar um pedido!<br />
                <br />Adiante seu lanche, pedindo diretamente pelo sistema.<br />
                <br />Basta clicar no botão abaixo e montar seu pedido.<br />
            </h5>
        </div>
        <div class="col-md-4"></div>
    </div>   
</div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-5"></div>
        <div class="col-md-5" style="margin-top:3%">
            <button type="button" class="btn-lg btn-success" onclick="AbrirVerificaCPF()">Fazer Pedido</button>
        </div>
        <div class="col-md-5" style="margin-top:15%"></div>
    </div>
</div>