@{
    ViewBag.Title = "Sair";
}

<div class="row" style="margin-top:7%">
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h4 style="text-align:center">Obrigada por utilizar nossos serviços!</h4><br>
            <h5 style="text-align:center">
                Aguardamos você novamente!<br />
                <br />Adiante seu lanche, pedindo diretamente pelo sistema.<br />
            </h5>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
